<div *ngIf="term !== undefined">
    <div style="display: table; width: 90%; cursor: pointer; 
            background-color: aliceblue; height: 100px; border-radius: 4px" (click)="tapped()">
        <div style="display: table-row">
            <div class="centertext">
                <h3>{{term.text}}</h3>
                <div style="margin-top: 10px">
                    <span class="pointer" (click)="play()">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 20px"></div>
    <div style="display: table; width: 90%; cursor: pointer; 
            background-color: navajowhite; height: 100px; border-radius: 4px" *ngIf="term.display">
        <div style="display: table-row">
            <div class="centertext">
                <h3>{{term.translation}}</h3>
            </div>
        </div>
    </div>
</div>