@import '../app.less';

.examBackground {
    width: 50%;
    }

.startexam {.examBackground; }

.centerAlign {
    text-align: center;
}

.examIcon {
   cursor: pointer;
}

.examtextCenter {
    margin: 0 auto;
    width:50%
}

.examTextBreak {
    margin-top: 10px
}