@import '../app.less';

.examBackground {
    height: auto;
    widows: auto;
    }

.startexam {.examBackground; }

.centerAlign {
    text-align: center;
}

.examIcon {
   cursor: pointer;
}

.examtextCenter {
    margin: 0 auto;
    width:50%
}