<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
        <div class="row">
            <h3>Please login to continue</h3>
            <div style="margin-top: 10px">
            </div>
            <div class="row" *ngIf="notification.length > 0">
                <h3 color="orange">{{notification}}</h3>
            </div>

            <section *ngIf="notification.length === 0 && !loginDisplay">
                <button class="btn btn-sm btn-default btn-register" (click)="register()">
                    I need to register for an account
                </button>

                <button class="btn btn-sm btn-default btn-login" (click)="showLogin()">
                    I have a Certified Spanish account
                </button>
            </section>

            <section style="margin-top: 10px" id="loginSection" 
                *ngIf="notification.length > 0 || loginDisplay">

                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon">
                        <i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>
                    </span>
                            <input type="text" [(ngModel)]="username" class="form-control" placeholder="username" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon">
                        <i class="fa fa-key fa-fw" aria-hidden="true"></i>
                    </span>
                            <input type="password" [(ngModel)]="password" class="form-control" placeholder="password" (keyup)="formKeyup($event)" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-sm btn-primary" [disabled]="loginButtonState()" (click)="submitLogin()">Submit</button>
                        <i class="fa fa-refresh fa-spin fa fa-fw" aria-hidden="true" *ngIf="processing"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <span [innerText]="errorMessage" class="error"></span>
                    </div>
                </div>
                <div class="autocenter">
                    <div class="row">
                        <div style="margin-top: 20px">
                            <h5>Authenticate with facebook or google</h5>
                        </div>
                        <div>
                            <img src="../assets/img/facebook.png" (click)="facebook()" class="socialButton" alt="facebook authentication" title="facebook authentication"
                            />

                            <img src="../assets/img/google.png" (click)="google()" class="socialButton" alt="google authentication" title="google authentication"
                            />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px" *ngIf="oauthLogin">
                        Please wait for the provider authentication
                        <i class="fa fa-refresh fa-spin fa fa-fw" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <div style="margin-top: 25px">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                            <a [routerLink]=" ['/registerstart'] ">Register for an account</a>
                            <div style="margin-top: 15px">
                                <div data-toggle="modal" data-target="#fpModal">
                                    <i class="fa fa-unlock" aria-hidden="true"></i>
                                    <span class="fplink">Forgot Password</span>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" role="dialog" id="fpModal">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Forgot Password Confirmation</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Would you like to reset your password?</p>
                                        <p>Enter your email address and press Confirm</p>
                                        <div>
                                            <input type="text" [(ngModel)]="resetEmail" class="form-control" placeholder="Your email address" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="resetConfirmDisabled()" (click)="confirmReset()">Confirm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>