@import 'app';

.premierContainer {
    max-width: 400px; 
    margin-bottom: 20px; 
    border-width: 4px; 
    border-color: green; 
    border-style: double;
    border-radius: 4px;
    padding: 20px
}

.premierTitle {
    padding-bottom: 6px;
    color: $app-dark-gray
}

.premiersubscribe {
    margin-bottom: 3px; 
    color: $app-green;
    font-weight: bold
}

.premieractivate {
    color: $app-dark-gray;
    width: 200px
}

.premierdeactivate {
    color: $app-tan;
    margin-top: 3px
}

.premiercancel {
    color: $app-main-gray;
    font-style: italic;
    margin-top: 3px;
    cursor: pointer;
    font-size: 8pt
}