@import 'app';

$successColor: #33ff00;
$failColor: #ff3300;

.row {margin-top: 5px}

.questionScoreGroup {margin-top: 36px; border-color: blue; border-radius: 4px; border-width: 1px}

.examSuccess {color: $successColor}
.examFail {color: $failColor}

.examSuccessIcon {background-color: $successColor}
.examFailIcon {background-color: $failColor}

.chart {width: 100%; height: 100%}