.feedbackLink {cursor: pointer;
    color: #666666;
    &:hover {
        text-decoration: underline;
    }
}

.warningicon {height: 25px}
.warningwrapper {margin-top: 20px; cursor: pointer}

.buttonMargin {margin-left: 5px; margin-right: 5px}
.topMargin {margin-top: 3px}