.studyScore {
    margin-top: 50px;
    margin-bottom: 12px;
    font-size: 11pt;
    color: maroon;
}

.nextQuestion {
    padding-left: 6px;
    font-size: 16pt;
    font-style: italic;
}

.nextButton {
    color: cornflowerblue;
}