<header>
<nav class="navbar navbar-default navbar-custom">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]=" ['home'] ">
        <img src="../assets/img/cgi-logo.png" 
          class="cgiLogo"
          alt="Commong Ground International" title="Common Ground International" />
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loggedIn()" class="nav-link"><a [routerLink]=" ['examstart'] ">Exams</a></li>
        <li *ngIf="loggedIn()" class="nav-link"><a [routerLink]=" ['study'] ">Study</a></li>
        <li *ngIf="!loggedIn()" class="nav-link"><a [routerLink]=" ['login'] ">Login</a></li>
        <li *ngIf="!loggedIn()" class="nav-link"><a [routerLink]=" ['registerstart'] ">Sign Up</a></li>
        <li *ngIf="loggedIn()" class="nav-link"><a [routerLink]=" ['account'] ">
              <i class="fa fa-user" aria-hidden="true"></i> {{loggedInUser()}}
          </a>
        </li>
     </ul>

    </div>
</nav>
</header>
<div class="container">
    <main>
      <router-outlet></router-outlet>
    </main>
</div>

<div *ngIf="showErrorModal" class="cgiModal">
  <div class="cgiModal-content">
    <span class="modalClose" (click)="closeErrorModal()">×</span>
    <p class="errorMessage">{{errorMessage}}</p>
  </div>
</div>