<div *ngIf="ready" style="margin-bottom: 6px; text-align: center; font-style: italic">
    <span>{{instructions}}</span>
</div>
<div class="gFrame">
    <div *ngFor="let t of terms" class="g">
        <div *ngIf="!t.matched">
            <div class="group" 
                    draggable="true"
                    (dragstart)="dragstart($event, t.id)">
                <div class="text">
                    <div class="groupdragbars"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    <div class="checkterm">
                        <input type="checkbox" 
                        [(ngModel)]="t.checked" 
                        [checked]="t.checked"
                        (ngModelChange)="termCheckChanged(t)" />
                    </div>
                    {{t.text}}</div>
            </div>
        </div>
    </div>
    <hr *ngIf="grouped != termsshown"/>
    <div *ngFor="let c of categories" class="g">
        <div class="groupcategory" 
                (drop)="dropped($event, c.id)"
                (dragover)="dragover($event)">
            <div class="categorytext">
                <div class="categorydragbars"><i class="fa fa-bars" aria-hidden="true"></i></div>
                <div class="checkterm">
                    <input type="checkbox" 
                    id="{{c.id}}"
                    [(ngModel)]="c.checked" 
                    [checked]="c.checked"
                    (ngModelChange)="categoryCheckChanged(c)" />
                </div>
                {{c.text}}</div>
            <div *ngIf="c.groupedterms != null && c.groupedterms.length > 0" 
                    class="groupedchoices">
                <div *ngFor="let g of c.groupedterms" class="groupedtext">
                    <div [innerText]="g.text"></div>
                    <div class="undoGrouping" (click)="undo(c,g)">
                        <i class="fa fa-undo" aria-hidden="true"></i> undo
                    </div>

                    <div *ngIf="ready" style="padding: 5px; margin-top: 5px">
                        <i *ngIf="!g.success" class="fa fa-meh-o fibFail" aria-hidden="true"> 
                            <span style="font-size: 10pt">oops</span>
                        </i>
                        <i *ngIf="g.success" class="fa fa-check-circle-o  fibSuccess" aria-hidden="true"> 
                            <span style="font-size: 10pt">Nice work!</span>
                        </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 25px">
        <div *ngIf="complete" (click)="next()" style="margin-top: 20px; text-align: center; width: 90%; cursor: pointer">
            <i class="fa fa-caret-square-o-right fa-3x nextButton" aria-hidden="true"></i>
            <span class="nextQuestion">Next Question</span>
        </div>

        <section *ngIf="ready">
            <studyscore></studyscore>
        </section>
        <section style="margin-top: 50px" *ngIf="ready">
            <feedback [enableFeedback]="enableFeedback" [feedbackSubmitted]="feedbackSumitted" 
            [currentQuestion]="currentQuestion">
            </feedback>
        </section>
    </div>
</div>