<div class="gFrame">
    <div *ngFor="let t of terms" class="g">
        <div *ngIf="!t.matched">
        <div class="group" 
                draggable="true"
                (dragstart)="dragstart($event, t.id)">
            <div class="text">{{t.text}}</div>
        </div>
        </div>
    </div>
    <hr *ngIf="grouped != termsshown"/>
    <div *ngFor="let c of categories" class="g">
        <div class="groupcategory" 
                (drop)="dropped($event, c.id)"
                (dragover)="dragover($event)">
            <div class="categorytext">{{c.text}}</div>
            <div *ngIf="c.groupedterms != null && c.groupedterms.length > 0" 
                    class="groupedchoices">
                <div *ngFor="let g of c.groupedterms" class="groupedtext">
                    {{g.text}}
                </div>
            </div>
        </div>
    </div>
</div>