.m {margin-bottom: 2.5px}

.mFrame {border: 1px solid lightgray; padding: 8px; border-radius: 4px; margin-top: 15px}

.mtext {display: table-cell; vertical-align: middle; padding: 4px; cursor: pointer}

.topgroup {margin-bottom: 7px; display: table; text-align: center; width: 100%}
.group{margin-bottom: 12px; display: table; text-align: center; width: 100%}

.text {
    .mtext;
            background-color: lightblue; color: #231f20
}

.bottommatchedtext {
    .mtext;
    background-color: forestgreen; color: white
}