@import '../app.less';

.iconCommon {
    padding: 30px;
    border: 1px;
    border-radius: 4px;
    font-size: 18px;
    font-family: @app-font-medium-large;
    margin-bottom: 20px;
}

.iconDimensions {
    width: 220px;
    height: 200px;
}

.mostRecent {
    background-color: rgb(0,97,126);
    .iconDimensions;
    .iconCommon;
    .dIcon;
}

.anotherExam {
    background-color: rgb(71,177,225);
    .iconDimensions;
    .iconCommon;
    .dIcon;
}

.study {
    background-color: rgb(116,171,80);
    .iconDimensions;
    .iconCommon;
    .dIcon;
}

.centerAlign {
    text-align: center;
}

.centerTextAlign {
    text-align: center;
    display: block;
}

.dIcon {
   cursor: pointer;
   color: white;
   position: relative;
}

.dTextBottom {
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

.dTextBreak {
    margin-top: 35px
}

.resultImg {
    width: 120px
}

