<div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
    <form #f="ngForm" role="form" style="max-width: 400px; border: none">
      <div class="form-group">
        <label for="firstName">First Name *</label>
        <input type="text" [(ngModel)]="ur.firstName" class="form-control control-width" id="firstName"
            name="firstName"
            placeholder="required" required>
      </div>
      <div class="form-group">
        <label for="firstName">Last Name *</label>
        <input type="text" [(ngModel)]="ur.lastName" class="form-control control-width" id="firstName"
          name="lastName"
          placeholder="required" required>
      </div>
      <div style="margin-bottom: 15px">
        <label for="phone">Phone</label>
        <div class="form-inline">
          <div class="form-group">
            <select class="form-control control-width" [(ngModel)]="ur.countryCode" name="countryCode" style="width: 73px">
        <option *ngFor="let country of countryCodes" value="{{country.code}}">
        {{country.name}}
      </option>
      </select>
            <input type="text" style="width: 220px" [(ngModel)]="ur.phone" 
            maxlength="10"
            placeholder="10 digit phone"
            class="form-control control-width"
              id="phone" name="10 digit phone">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="ur.address.street" name="address"
        placeholder="street" class="form-control control-width" id="address">
      </div>
      <div style="margin-bottom: 15px"></div>
        
          <div class="form-group">
              <label for="city">City</label>
            <input type="text" [(ngModel)]="ur.address.city" 
            name="city"
            class="form-control control-width" placeholder="city" />
        </div>
        <div class="form-group">
            <label for="state">State</label>
            <select class="form-control" name="state" [(ngModel)]="ur.address.state" 
            style="width: 48px">
      <option *ngFor="let state of states" value="{{state}}">
        {{state}}
      </option>
      </select>
    </div>
    <div class="form-group">
        <label for="zip">Zipcode</label>
            <input type="text" [(ngModel)]="ur.address.postalCode" 
            name="zip"
            class="form-control control-width" style="width: 80px" placeholder="zip">
          </div>
      
      <div style="margin-bottom: 15px">
        <label for="dob">Date of Birth</label>
        <div class="form-inline">
          <div class="form-group">
            <select [(ngModel)]="ur.dobMonth" 
            name="month"
            class="form-control control-width" style="width: 100px" id="month">
            <option *ngFor="let month of months" value="{{month.index}}">
              {{month.name}}
            </option>
          </select>
            <select [(ngModel)]="ur.dobDay" class="form-control control-width" style="width: 60px" 
            name="day"
            id="day">
            <option *ngFor="let day of days" value="{{day.index}}">
              {{day.name}}
            </option>
          </select>
            <select [(ngModel)]="ur.dobYear" class="form-control control-width" style="width: 60px" 
            name="year"
            id="year">
            <option *ngFor="let year of years" value="{{year}}">
              {{year}}
            </option>
          </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select [(ngModel)]="ur.gender" class="form-control control-width" style="width: 85px" 
        name="gender"
        id="gender">
        <option value=""></option>
        <option value="f">Female</option>
        <option value="m">Male</option>
    </select>
      </div>
      <div class="form-group">
        <button type="button" [disabled]="submitButtonState()" (click)="submitRegistration()" class="btn btn-sm btn-primary">Submit Registration</button>
      </div>
    </form>

    <div *ngIf="showSuccess" class="cgiModal">

      <!-- Modal content -->
      <div class="cgiModal-content">
        <p>You have successfully registered.  Press continue to be directed to the exams</p>
        <p>
          <button class="btn btn-sm btn-default"
            (click)="goToExam()">
            Continue to exams
          </button>
      </p>
      </div>

    </div>

  </div>
</div>